body {
  background-color: black;
  color: white;
  font-family: Arial;
}

h1 {
  text-align: center;
}

#movies {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#movies div {
  transition: transform 0.3s;
}

#movies div:hover {
  transform: scale(1.1);
}

img {
  width: 150px;
  border-radius: 5px;
}